In [111]:
import re
import requests
import pandas as pd
import numpy as np

#Country cleaner corrects any spelling mistakes in the countries.
from country_cleaner import country_clean

In [112]:
#### Importing csv data files into dataframes 
#####Erase stuff after pound before turning in.
df = pd.read_csv('Input_Data/education_expenditure_supplementary_data.csv')#Public and private direct expenditures on education institutions as a percentage of gross domestic product
df1 = pd.read_csv('Input_Data/educational_attainment_supplementary_data.csv')#refined list of survey questions by country ########country_name erase this line
df2 = pd.read_csv('Input_Data/school_and_country_table.csv')
df3 = pd.read_csv('Input_Data/shanghaiData.csv')####Not needed erase this
df4 = pd.read_csv('Input_Data/timesData.csv')
df_GDP = pd.read_csv('Input_Data/GDP.csv')####Country Name
df_GDP2 = pd.read_csv('Input_Data/GDP.csv')
higherED_df = pd.read_csv('Input_data/cwurData.csv')

### All DFS pass through Country Cleaner.
country_list = [df, df1, df2, df4, df_GDP, df_GDP2, higherED_df]

for frame in country_list:
    for col in frame.columns:
        if (col == 'country') or (col =='country_name')   or (col == 'Country Name') or (col == 'Country'):
            frame[col] = frame[col].apply(lambda x: country_clean(x))
test_df = df1.loc[df1['country_name'] == 'Egypt']
test_df

,country_name,series_name,Keep or not,1985,1986,1987,1990,1991,1992,1993,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2015
21675,Egypt,"Barro-Lee: Average years of primary schooling,...",NaN,1.65,NaN,NaN,2.02,NaN,NaN,NaN,...,3.21,NaN,NaN,NaN,NaN,3.47,NaN,NaN,NaN,NaN
21676,Egypt,"Barro-Lee: Average years of primary schooling,...",NaN,2.40,NaN,NaN,2.75,NaN,NaN,NaN,...,3.69,NaN,NaN,NaN,NaN,3.84,NaN,NaN,NaN,NaN
21677,Egypt,"Barro-Lee: Average years of primary schooling,...",NaN,3.18,NaN,NaN,3.77,NaN,NaN,NaN,...,4.22,NaN,NaN,NaN,NaN,4.56,NaN,NaN,NaN,NaN
21678,Egypt,"Barro-Lee: Average years of primary schooling,...",NaN,3.71,NaN,NaN,4.24,NaN,NaN,NaN,...,4.16,NaN,NaN,NaN,NaN,4.31,NaN,NaN,NaN,NaN
21679,Egypt,"Barro-Lee: Average years of primary schooling,...",NaN,2.60,NaN,NaN,3.00,NaN,NaN,NaN,...,4.96,NaN,NaN,NaN,NaN,4.03,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22095,Egypt,UIS: Percentage of population age 25+ with som...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22096,Egypt,UIS: Percentage of population age 25+ with som...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22097,Egypt,UIS: Percentage of population age 25+ with unk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22098,Egypt,UIS: Percentage of population age 25+ with unk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22099,Egypt,UIS: Percentage of population age 25+ with unk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
### pound added so I can find this easier in GIT ###
#############################################################
### Cleaning Higher Ed Data.  We take the top nationally ranked colleges from each country and average the data
rank_one_df = higherED_df[higherED_df['national_rank'] <= 1]


sorted_rank_df = rank_one_df.sort_values(['score','country'],ascending = (False,False))
drop_institution_df = sorted_rank_df.drop(columns=['institution','year'],axis =1)

###Swap columns
first_column = drop_institution_df.pop('country')
drop_institution_df.insert(0, 'country', first_column)

###Get mean and round to remove uncessary zeros.
mean_df = grouped_df = drop_institution_df.groupby(by=['country']).mean().round(2)

h_ed_df= mean_df.copy()

h_ed_df.head()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score
country,,,,,,,,,,,
Argentina,372.50,1.0,159.0,488.5,178.0,272.00,349.00,342.00,346.5,804.00,45.52
Australia,91.75,1.0,108.5,139.5,132.5,55.75,102.75,74.25,89.0,67.25,48.04
Austria,214.00,1.0,195.5,172.5,100.5,228.00,150.50,155.50,196.0,704.00,47.40
Belgium,88.00,1.0,361.0,213.5,214.0,44.00,101.50,64.00,52.5,69.00,51.88
Brazil,131.50,1.0,299.5,70.5,214.0,60.50,184.00,125.00,163.0,723.50,49.56

In [114]:
#Cleaning GDP file and averaging out years 2001 through 2011. This will help smooth out missing data and lag between school investments vs results 
df_GDP.rename({'Country Name': 'country'}, axis=1, inplace=True)
df_GDP['avg_2000_2011'] = df_GDP[['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009', '2010','2011']].mean(axis=1)
df_GDP = df_GDP[['country', 'Country Code','Indicator Name', 'Indicator Code','avg_2000_2011']]
df_GDP.dropna(subset=['avg_2000_2011'],inplace=True)
df_GDP.reset_index(inplace=True,drop=True)
df_GDP.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,country,Country Code,Indicator Name,Indicator Code,avg_2000_2011
0,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,5.373832e+13
1,High income,HIC,GDP (current US$),NY.GDP.MKTP.CD,3.805390e+13
2,OECD members,OED,GDP (current US$),NY.GDP.MKTP.CD,3.787817e+13
3,Post-demographic dividend,PST,GDP (current US$),NY.GDP.MKTP.CD,3.594110e+13
4,IDA & IBRD total,IBT,GDP (current US$),NY.GDP.MKTP.CD,1.618787e+13

In [115]:
#Cleaning school expenditure file. This file is missing many countries (only has around 30)
#Filtering on school spend and creating dataframe for each by category - e.g. All, k_12, and hihger education
#We may be able to run test on all 3 of these groups 
df['institute_type'] = df['institute_type'].str.strip()
df['direct_expenditure_type'] = df['direct_expenditure_type'].str.strip()

df[['1995','2000','2005','2009','2010','2011']] = df[['1995','2000','2005','2009','2010','2011']]/100
df['school_spend_2000_2011'] = df[['2000','2005','2009', '2010','2011']].mean(axis=1)

df = df[df['direct_expenditure_type']== 'Total']
df = df[['country', 'institute_type','school_spend_2000_2011']]

df_all_edu = df[df['institute_type']=='All Institutions']
df_k_12_edu = df[df['institute_type']=='Elementary and Secondary Institutions']
df_higher_edu = df[df['institute_type']=='Higher Education Institutions']

df_all_edu = df_all_edu.dropna(subset=['school_spend_2000_2011'])
df_k_12_edu = df_k_12_edu.dropna(subset=['school_spend_2000_2011'])
df_higher_edu = df_higher_edu.dropna(subset=['school_spend_2000_2011'])

df_all_edu.reset_index(inplace=True,drop=True)
df_k_12_edu.reset_index(inplace=True,drop=True)
df_higher_edu.reset_index(inplace=True,drop=True)

df_all_edu.head()
df_k_12_edu.head()
df_higher_edu.head()

#df.institute_type.unique()

        country                 institute_type  school_spend_2000_2011
0  OECD Average  Higher Education Institutions                   0.016
1     Australia  Higher Education Institutions                   0.016
2       Austria  Higher Education Institutions                   0.015
3       Belgium  Higher Education Institutions                   0.014
4         Chile  Higher Education Institutions                   0.024

In [116]:
#Merging GDP and expenditure data. The column "school expenditures will be the $$$ spend on schooling"
df_all_edu_1 = df_GDP.merge(df_all_edu, on='country', how='left').dropna(subset=['school_spend_2000_2011'])
df_k_12_edu_1 = df_GDP.merge(df_k_12_edu, on='country', how='left').dropna(subset=['school_spend_2000_2011'])
df_higher_edu_1 = df_GDP.merge(df_higher_edu, on='country', how='left').dropna(subset=['school_spend_2000_2011'])

df_all_edu_1.reset_index(inplace=True,drop=True)
df_k_12_edu_1.reset_index(inplace=True,drop=True)
df_higher_edu_1.reset_index(inplace=True,drop=True)

df_all_edu_1['school_expenditures'] = round(df_all_edu_1['school_spend_2000_2011'] * df_all_edu_1['avg_2000_2011'],2)
df_k_12_edu_1['school_expenditures'] = round(df_k_12_edu_1['school_spend_2000_2011'] * df_k_12_edu_1['avg_2000_2011'],2)
df_higher_edu_1['school_expenditures'] = round(df_higher_edu_1['school_spend_2000_2011'] * df_higher_edu_1['avg_2000_2011'],2)

df_all_edu_1.head()
df_k_12_edu_1.head()
df_higher_edu_1.head()

,country,Country Code,Indicator Name,Indicator Code,avg_2000_2011,institute_type,school_spend_2000_2011,school_expenditures
0,United States of America,USA,GDP (current US$),NY.GDP.MKTP.CD,1.303684e+13,Higher Education Institutions,0.027,3.519947e+11
1,Japan,JPN,GDP (current US$),NY.GDP.MKTP.CD,4.944989e+12,Higher Education Institutions,0.016,7.911982e+10
2,Germany,DEU,GDP (current US$),NY.GDP.MKTP.CD,2.899084e+12,Higher Education Institutions,0.013,3.768809e+10
3,United Kingdom,GBR,GDP (current US$),NY.GDP.MKTP.CD,2.372315e+12,Higher Education Institutions,0.012,2.846777e+10
4,France,FRA,GDP (current US$),NY.GDP.MKTP.CD,2.206148e+12,Higher Education Institutions,0.015,3.309223e+10

In [117]:
### data cleaning the survey file to narrow in on questions we may want to take a look at. Column "series name"
df1 = df1[df1['Keep or not']==1]
df1['avg_2005_2015'] = df1[['2005', '2006','2007','2008','2009','2010','2011','2012','2013','2015']].mean(axis=1)
df1.dropna(subset=['avg_2005_2015'],inplace=True)
df1.reset_index(inplace=True,drop=True)
df1.head()

C:\Users\awnet\AppData\Local\Temp/ipykernel_8540/2786941589.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['avg_2005_2015'] = df1[['2005', '2006','2007','2008','2009','2010','2011','2012','2013','2015']].mean(axis=1)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,country_name,series_name,Keep or not,1985,1986,1987,1990,1991,1992,1993,...,2006,2007,2008,2009,2010,2011,2012,2013,2015,avg_2005_2015
0,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,0.50,NaN,NaN,0.66,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.97,NaN,NaN,NaN,NaN,1.620
1,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,1.57,NaN,NaN,1.87,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.85,NaN,NaN,NaN,NaN,3.530
2,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,0.28,NaN,NaN,0.42,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.16,NaN,NaN,NaN,NaN,1.080
3,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,1.16,NaN,NaN,1.49,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.23,NaN,NaN,NaN,NaN,2.915
4,Afghanistan,Barro-Lee: Percentage of population age 15+ wi...,1.0,77.80,NaN,NaN,75.04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,58.38,NaN,NaN,NaN,NaN,62.055

In [118]:
#cleaning GDP file to use again. As many countries are missing expenditures, we can just use toal GDP vs school responses as well. This will be a broader dataset with more countries.
df_GDP2.rename({'Country Name': 'country'}, axis=1, inplace=True)
df_GDP2['avg_2000_2015'] = df_GDP2[['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009', '2010','2011','2012','2013','2014','2015']].mean(axis=1)
df_GDP2['avg_2000_2015'] = df_GDP2['avg_2000_2015']/1000000000
df_GDP2 = df_GDP2[['country', 'Country Code','Indicator Name', 'Indicator Code','avg_2000_2015']]
df_GDP2.dropna(subset=['avg_2000_2015'],inplace=True)
df_GDP2.reset_index(inplace=True,drop=True)
df_GDP2.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,country,Country Code,Indicator Name,Indicator Code,avg_2000_2015
0,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,59517.199213
1,High income,HIC,GDP (current US$),NY.GDP.MKTP.CD,40900.271146
2,OECD members,OED,GDP (current US$),NY.GDP.MKTP.CD,40629.787880
3,Post-demographic dividend,PST,GDP (current US$),NY.GDP.MKTP.CD,38437.087014
4,IDA & IBRD total,IBT,GDP (current US$),NY.GDP.MKTP.CD,19195.578598

In [119]:
#import country_cleaner.country_clean as country_clean
#df_GDP2["Country Name"] = df_GDP2["Country Name"].apply(lambda x: country_clean(x))

In [120]:
# joinning survey data_sets with expenditures dataset for final data sets to beging running test on.
df1.rename({'country_name': 'country'}, axis=1, inplace=True)

complete_expenditures_all = df1.merge(df_all_edu_1, on='country', how='left').dropna(subset=['school_spend_2000_2011'])
complete_expenditures_k_12 = df1.merge(df_k_12_edu_1, on='country', how='left').dropna(subset=['school_spend_2000_2011'])
complete_expenditures_higher_edu = df1.merge(df_higher_edu_1, on='country', how='left').dropna(subset=['school_spend_2000_2011'])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [121]:
#final data-set with total GDP (not expenditures) to run test on as it will have more datapoints vs above compplete tables
complete_GDP = df1.merge(df_GDP2, on='country', how='left').dropna(subset=['avg_2000_2015'])

In [122]:
complete_GDP.head(5)

,country,series_name,Keep or not,1985,1986,1987,1990,1991,1992,1993,...,2010,2011,2012,2013,2015,avg_2005_2015,Country Code,Indicator Name,Indicator Code,avg_2000_2015
0,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,0.50,NaN,NaN,0.66,NaN,NaN,NaN,...,1.97,NaN,NaN,NaN,NaN,1.620,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438
1,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,1.57,NaN,NaN,1.87,NaN,NaN,NaN,...,3.85,NaN,NaN,NaN,NaN,3.530,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438
2,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,0.28,NaN,NaN,0.42,NaN,NaN,NaN,...,1.16,NaN,NaN,NaN,NaN,1.080,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438
3,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,1.16,NaN,NaN,1.49,NaN,NaN,NaN,...,3.23,NaN,NaN,NaN,NaN,2.915,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438
4,Afghanistan,Barro-Lee: Percentage of population age 15+ wi...,1.0,77.80,NaN,NaN,75.04,NaN,NaN,NaN,...,58.38,NaN,NaN,NaN,NaN,62.055,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438

In [123]:
complete_GDP = complete_GDP[(complete_GDP['series_name']=='Barro-Lee: Average years of total schooling, age 25+, total') |(complete_GDP['series_name']=='Barro-Lee: Average years of total schooling, age 25+, female') | (complete_GDP['series_name']=='Barro-Lee: Percentage of population age 25+ with no education')]
complete_GDP.head()

,country,series_name,Keep or not,1985,1986,1987,1990,1991,1992,1993,...,2010,2011,2012,2013,2015,avg_2005_2015,Country Code,Indicator Name,Indicator Code,avg_2000_2015
2,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,0.28,NaN,NaN,0.42,NaN,NaN,NaN,...,1.16,NaN,NaN,NaN,NaN,1.080,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438
3,Afghanistan,"Barro-Lee: Average years of total schooling, a...",1.0,1.16,NaN,NaN,1.49,NaN,NaN,NaN,...,3.23,NaN,NaN,NaN,NaN,2.915,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438
5,Afghanistan,Barro-Lee: Percentage of population age 25+ wi...,1.0,84.62,NaN,NaN,80.70,NaN,NaN,NaN,...,66.02,NaN,NaN,NaN,NaN,68.800,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438
8,Albania,"Barro-Lee: Average years of total schooling, a...",1.0,6.13,NaN,NaN,7.29,NaN,NaN,NaN,...,9.57,NaN,NaN,NaN,NaN,9.470,ALB,GDP (current US$),NY.GDP.MKTP.CD,9.476655
9,Albania,"Barro-Lee: Average years of total schooling, a...",1.0,6.75,NaN,NaN,7.83,NaN,NaN,NaN,...,9.85,NaN,NaN,NaN,NaN,9.770,ALB,GDP (current US$),NY.GDP.MKTP.CD,9.476655

In [124]:
df_pivot=complete_GDP.pivot(index=['country'], columns='series_name',values=['avg_2005_2015'])
df_pivot.columns = df_pivot.columns.droplevel()
modified_df=df_pivot.rename_axis(None,axis=1)
modified_df=modified_df.reset_index()
modified_df_final = modified_df.merge(df_GDP2, on='country', how='left').dropna(subset=['avg_2000_2015'])
modified_df_final

,country,"Barro-Lee: Average years of total schooling, age 25+, female","Barro-Lee: Average years of total schooling, age 25+, total",Barro-Lee: Percentage of population age 25+ with no education,Country Code,Indicator Name,Indicator Code,avg_2000_2015
0,Afghanistan,1.080,2.915,68.800,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438
1,Albania,9.470,9.770,3.185,ALB,GDP (current US$),NY.GDP.MKTP.CD,9.476655
2,Algeria,4.835,5.570,31.295,DZA,GDP (current US$),NY.GDP.MKTP.CD,133.920615
3,Argentina,9.345,9.370,1.100,ARG,GDP (current US$),NY.GDP.MKTP.CD,345.568498
4,Armenia,10.795,10.835,0.490,ARM,GDP (current US$),NY.GDP.MKTP.CD,7.306080
...,...,...,...,...,...,...,...,...
138,"Venezuela, RB",7.850,7.655,8.460,VEN,GDP (current US$),NY.GDP.MKTP.CD,245.228688
139,Vietnam,6.500,6.945,7.830,VNM,GDP (current US$),NY.GDP.MKTP.CD,96.776592
140,"Yemen, Rep.",1.065,2.230,73.060,YEM,GDP (current US$),NY.GDP.MKTP.CD,24.405175
141,Zambia,5.605,6.460,19.755,ZMB,GDP (current US$),NY.GDP.MKTP.CD,14.815902
142,Zimbabwe,6.385,7.000,9.105,ZWE,GDP (current US$),NY.GDP.MKTP.CD,10.232706

In [125]:
modified_df_final.rename({'Barro-Lee: Average years of total schooling, age 25+, female': 'female_25_plus','Barro-Lee: Average years of total schooling, age 25+, total': 'All_25_plus','Barro-Lee: Percentage of population age 25+ with no education': 'All_25_plus_no_edu'}, axis=1, inplace=True)
modified_df_final.head()

,country,female_25_plus,All_25_plus,All_25_plus_no_edu,Country Code,Indicator Name,Indicator Code,avg_2000_2015
0,Afghanistan,1.080,2.915,68.800,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438
1,Albania,9.470,9.770,3.185,ALB,GDP (current US$),NY.GDP.MKTP.CD,9.476655
2,Algeria,4.835,5.570,31.295,DZA,GDP (current US$),NY.GDP.MKTP.CD,133.920615
3,Argentina,9.345,9.370,1.100,ARG,GDP (current US$),NY.GDP.MKTP.CD,345.568498
4,Armenia,10.795,10.835,0.490,ARM,GDP (current US$),NY.GDP.MKTP.CD,7.306080

In [126]:
modified_df_final['country_id'] = pd.factorize(modified_df_final.country)[0]

In [127]:
modified_df_final.head()

,country,female_25_plus,All_25_plus,All_25_plus_no_edu,Country Code,Indicator Name,Indicator Code,avg_2000_2015,country_id
0,Afghanistan,1.080,2.915,68.800,AFG,GDP (current US$),NY.GDP.MKTP.CD,12.328438,0
1,Albania,9.470,9.770,3.185,ALB,GDP (current US$),NY.GDP.MKTP.CD,9.476655,1
2,Algeria,4.835,5.570,31.295,DZA,GDP (current US$),NY.GDP.MKTP.CD,133.920615,2
3,Argentina,9.345,9.370,1.100,ARG,GDP (current US$),NY.GDP.MKTP.CD,345.568498,3
4,Armenia,10.795,10.835,0.490,ARM,GDP (current US$),NY.GDP.MKTP.CD,7.306080,4

In [128]:
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.datasets import load_breast_cancer


X_complete_GDP = modified_df_final[['female_25_plus','All_25_plus','All_25_plus_no_edu','avg_2000_2015']]
y_complete_GDP = modified_df_final[['country_id']]
X_complete_GDP

     female_25_plus  All_25_plus  All_25_plus_no_edu  avg_2000_2015
0             1.080        2.915              68.800      12.328438
1             9.470        9.770               3.185       9.476655
2             4.835        5.570              31.295     133.920615
3             9.345        9.370               1.100     345.568498
4            10.795       10.835               0.490       7.306080
..              ...          ...                 ...            ...
138           7.850        7.655               8.460     245.228688
139           6.500        6.945               7.830      96.776592
140           1.065        2.230              73.060      24.405175
141           5.605        6.460              19.755      14.815902
142           6.385        7.000               9.105      10.232706

[143 rows x 4 columns]

In [129]:
X_complete_GDP_normalized = MinMaxScaler().fit(X_complete_GDP).transform(X_complete_GDP)  
kmeans = KMeans(n_clusters = 5, random_state = 0)
kmeans.fit(X_complete_GDP)
kmeans.labels_
modified_df_final['cluster'] = kmeans.fit_predict(X_complete_GDP)
y_kmeans = kmeans.predict(X_complete_GDP)
kmeans.labels_
kmeans.cluster_centers_

array([[7.20852000e+00, 7.58896000e+00, 2.02831600e+01, 9.02871700e+01],
       [1.32750000e+01, 1.32750000e+01, 4.45000000e-01, 1.40743376e+04],
       [9.26300000e+00, 9.48800000e+00, 7.36900000e+00, 2.42373195e+03],
       [9.09200000e+00, 9.54350000e+00, 9.33150000e+00, 1.07619918e+03],
       [8.78000000e+00, 9.16750000e+00, 4.10000000e+00, 4.98019991e+03]])

In [130]:
h_ed_df.describe()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score
count,59.000000,59.0,59.000000,59.000000,59.000000,59.00000,59.000000,59.000000,59.000000,59.000000,59.000000
mean,353.546610,1.0,229.881017,282.851356,159.900847,369.37678,379.218475,330.740508,396.813559,448.558983,50.004576
std,309.691534,0.0,128.823050,200.200661,73.171126,318.43022,305.787634,242.381348,316.655691,295.852672,10.092858
min,1.000000,1.0,2.500000,3.000000,1.000000,1.00000,1.000000,1.000000,1.000000,4.250000,44.180000
25%,82.000000,1.0,104.625000,103.375000,105.250000,62.75000,118.085000,101.375000,105.250000,181.750000,44.790000
50%,291.500000,1.0,278.000000,213.500000,214.000000,259.50000,247.500000,268.500000,328.000000,483.500000,46.280000
75%,552.000000,1.0,361.000000,522.500000,214.000000,606.75000,683.500000,522.000000,746.250000,756.750000,49.780000
max,971.500000,1.0,361.000000,522.500000,214.000000,998.50000,962.000000,806.000000,956.000000,804.000000,100.000000

In [131]:
h_ed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, Argentina to Uruguay
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   world_rank            59 non-null     float64
 1   national_rank         59 non-null     float64
 2   quality_of_education  59 non-null     float64
 3   alumni_employment     59 non-null     float64
 4   quality_of_faculty    59 non-null     float64
 5   publications          59 non-null     float64
 6   influence             59 non-null     float64
 7   citations             59 non-null     float64
 8   broad_impact          59 non-null     float64
 9   patents               59 non-null     float64
 10  score                 59 non-null     float64
dtypes: float64(11)
memory usage: 5.5+ KB

In [132]:
h_ed_df.corr()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score
world_rank,1.000000,NaN,0.597069,0.755904,0.627145,0.920100,0.862065,0.858061,0.908768,0.729807,-0.536188
national_rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
quality_of_education,0.597069,NaN,1.000000,0.446030,0.845748,0.562158,0.570039,0.548860,0.547861,0.434614,-0.590930
alumni_employment,0.755904,NaN,0.446030,1.000000,0.442705,0.601342,0.549113,0.537933,0.568028,0.561378,-0.539092
quality_of_faculty,0.627145,NaN,0.845748,0.442705,1.000000,0.601272,0.655108,0.646750,0.627308,0.531992,-0.662818
publications,0.920100,NaN,0.562158,0.601342,0.601272,1.000000,0.891539,0.900068,0.953361,0.672824,-0.517084
influence,0.862065,NaN,0.570039,0.549113,0.655108,0.891539,1.000000,0.915437,0.944099,0.696907,-0.526425
citations,0.858061,NaN,0.548860,0.537933,0.646750,0.900068,0.915437,1.000000,0.937196,0.642703,-0.527331
broad_impact,0.908768,NaN,0.547861,0.568028,0.627308,0.953361,0.944099,0.937196,1.000000,0.675042,-0.521284
patents,0.729807,NaN,0.434614,0.561378,0.531992,0.672824,0.696907,0.642703,0.675042,1.000000,-0.564994
score,-0.536188,NaN,-0.590930,-0.539092,-0.662818,-0.517084,-0.526425,-0.527331,-0.521284,-0.564994,1.000000

In [133]:
h_ed_df.cov()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score
world_rank,95908.846416,0.0,23820.292993,46866.371512,14211.410827,90735.795091,81637.409124,64409.036355,89118.831771,66867.167869,-1675.949146
national_rank,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
quality_of_education,23820.292993,0.0,16595.378209,11503.309059,7972.124834,23060.359550,22455.256074,17137.760465,22348.646745,16564.282570,-768.322884
alumni_employment,46866.371512,0.0,11503.309059,40080.304746,6485.141842,38335.507944,33616.094821,26103.150523,36009.923447,33250.367970,-1089.287401
quality_of_faculty,14211.410827,0.0,7972.124834,6485.141842,5354.013711,14009.570053,14657.925958,11470.316715,14534.750678,11516.500709,-489.495313
publications,90735.795091,0.0,23060.359550,38335.507944,14009.570053,101397.805312,86810.999085,69468.620596,96130.005855,63385.721833,-1661.839933
influence,81637.409124,0.0,22455.256074,33616.094821,14657.925958,86810.999085,93506.076968,67849.676080,91416.566262,63047.874195,-1624.689070
citations,64409.036355,0.0,17137.760465,26103.150523,11470.316715,69468.620596,67849.676080,58748.717629,71931.120872,46087.685545,-1290.021742
broad_impact,89118.831771,0.0,22348.646745,36009.923447,14534.750678,96130.005855,91416.566262,71931.120872,100270.826710,63240.236876,-1666.002839
patents,66867.167869,0.0,16564.282570,33250.367970,11516.500709,63385.721833,63047.874195,46087.685545,63240.236876,87528.803468,-1687.071206
score,-1675.949146,0.0,-768.322884,-1089.287401,-489.495313,-1661.839933,-1624.689070,-1290.021742,-1666.002839,-1687.071206,101.865791

In [134]:
#modified_df_final.head()

In [135]:
#modified_df_final.describe()

In [136]:
h_ed_df.reset_index(inplace=True)

In [137]:
a_final_frame = pd.merge(h_ed_df,modified_df_final,how="left",on='country')
a_final_frame = a_final_frame.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
#a_final_frame.head()

In [138]:
a_final_frame.describe()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,female_25_plus,All_25_plus,All_25_plus_no_edu,avg_2000_2015,country_id,cluster
count,59.000000,59.0,59.000000,59.000000,59.000000,59.00000,59.000000,59.000000,59.000000,59.000000,59.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000
mean,353.546610,1.0,229.881017,282.851356,159.900847,369.37678,379.218475,330.740508,396.813559,448.558983,50.004576,9.800000,10.071909,6.323000,949.977995,73.000000,0.854545
std,309.691534,0.0,128.823050,200.200661,73.171126,318.43022,305.787634,242.381348,316.655691,295.852672,10.092858,2.354011,2.121826,9.078826,2096.345879,42.604121,1.352887
min,1.000000,1.0,2.500000,3.000000,1.000000,1.00000,1.000000,1.000000,1.000000,4.250000,44.180000,3.230000,4.925000,0.125000,14.641724,3.000000,0.000000
25%,82.000000,1.0,104.625000,103.375000,105.250000,62.75000,118.085000,101.375000,105.250000,181.750000,44.790000,8.710000,8.832500,0.870000,148.277520,35.500000,0.000000
50%,291.500000,1.0,278.000000,213.500000,214.000000,259.50000,247.500000,268.500000,328.000000,483.500000,46.280000,10.455000,10.590000,2.625000,281.926930,63.000000,0.000000
75%,552.000000,1.0,361.000000,522.500000,214.000000,606.75000,683.500000,522.000000,746.250000,756.750000,49.780000,11.632500,11.665000,8.350000,965.707184,113.500000,2.000000
max,971.500000,1.0,361.000000,522.500000,214.000000,998.50000,962.000000,806.000000,956.000000,804.000000,100.000000,13.275000,13.275000,44.655000,14074.337562,137.000000,4.000000

In [139]:
a_final_frame.corr()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,female_25_plus,All_25_plus,All_25_plus_no_edu,avg_2000_2015,country_id,cluster
world_rank,1.000000,NaN,0.597069,0.755904,0.627145,0.920100,0.862065,0.858061,0.908768,0.729807,-0.536188,-0.306991,-0.332706,0.241208,-0.379818,0.085049,-0.475754
national_rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
quality_of_education,0.597069,NaN,1.000000,0.446030,0.845748,0.562158,0.570039,0.548860,0.547861,0.434614,-0.590930,-0.447566,-0.468350,0.292016,-0.407331,0.020361,-0.260393
alumni_employment,0.755904,NaN,0.446030,1.000000,0.442705,0.601342,0.549113,0.537933,0.568028,0.561378,-0.539092,0.022248,-0.008384,-0.025533,-0.426992,-0.017255,-0.538518
quality_of_faculty,0.627145,NaN,0.845748,0.442705,1.000000,0.601272,0.655108,0.646750,0.627308,0.531992,-0.662818,-0.468006,-0.494358,0.282506,-0.426576,-0.054162,-0.231646
publications,0.920100,NaN,0.562158,0.601342,0.601272,1.000000,0.891539,0.900068,0.953361,0.672824,-0.517084,-0.381037,-0.410776,0.303742,-0.374576,0.109275,-0.458597
influence,0.862065,NaN,0.570039,0.549113,0.655108,0.891539,1.000000,0.915437,0.944099,0.696907,-0.526425,-0.514956,-0.515373,0.448021,-0.349984,0.121026,-0.333521
citations,0.858061,NaN,0.548860,0.537933,0.646750,0.900068,0.915437,1.000000,0.937196,0.642703,-0.527331,-0.516349,-0.530806,0.450237,-0.353134,0.142496,-0.346006
broad_impact,0.908768,NaN,0.547861,0.568028,0.627308,0.953361,0.944099,0.937196,1.000000,0.675042,-0.521284,-0.494114,-0.506573,0.421581,-0.358956,0.141211,-0.378530
patents,0.729807,NaN,0.434614,0.561378,0.531992,0.672824,0.696907,0.642703,0.675042,1.000000,-0.564994,-0.358445,-0.377446,0.182739,-0.402937,-0.052522,-0.354901
score,-0.536188,NaN,-0.590930,-0.539092,-0.662818,-0.517084,-0.526425,-0.527331,-0.521284,-0.564994,1.000000,0.337367,0.358544,-0.202127,0.798873,0.219913,0.318945
female_25_plus,-0.306991,NaN,-0.447566,0.022248,-0.468006,-0.381037,-0.514956,-0.516349,-0.494114,-0.358445,0.337367,1.000000,0.987379,-0.808949,0.155882,-0.031448,-0.113593
All_25_plus,-0.332706,NaN,-0.468350,-0.008384,-0.494358,-0.410776,-0.515373,-0.530806,-0.506573,-0.377446,0.358544,0.987379,1.000000,-0.764572,0.168853,-0.043328,-0.085282
All_25_plus_no_edu,0.241208,NaN,0.292016,-0.025533,0.282506,0.303742,0.448021,0.450237,0.421581,0.182739,-0.202127,-0.808949,-0.764572,1.000000,-0.093784,0.032970,0.062659
avg_2000_2015,-0.379818,NaN,-0.407331,-0.426992,-0.426576,-0.374576,-0.349984,-0.353134,-0.358956,-0.402937,0.798873,0.155882,0.168853,-0.093784,1.000000,0.110629,0.399297
country_id,0.085049,NaN,0.020361,-0.017255,-0.054162,0.109275,0.121026,0.142496,0.141211,-0.052522,0.219913,-0.031448,-0.043328,0.032970,0.110629,1.000000,-0.046908
cluster,-0.475754,NaN,-0.260393,-0.538518,-0.231646,-0.458597,-0.333521,-0.346006,-0.378530,-0.354901,0.318945,-0.113593,-0.085282,0.062659,0.399297,-0.046908,1.000000

In [140]:
a_final_frame.cov()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,female_25_plus,All_25_plus,All_25_plus_no_edu,avg_2000_2015,country_id,cluster
world_rank,95908.846416,0.0,23820.292993,46866.371512,14211.410827,90735.795091,81637.409124,64409.036355,89118.831771,66867.167869,-1675.949146,-219.601955,-214.522296,665.462219,-2.419583e+05,1101.087593,-195.589714
national_rank,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
quality_of_education,23820.292993,0.0,16595.378209,11503.309059,7972.124834,23060.359550,22455.256074,17137.760465,22348.646745,16564.282570,-768.322884,-136.907276,-129.134351,344.506490,-1.109613e+05,112.722222,-45.777545
alumni_employment,46866.371512,0.0,11503.309059,40080.304746,6485.141842,38335.507944,33616.094821,26103.150523,36009.923447,33250.367970,-1089.287401,10.499506,-3.566196,-46.473005,-1.794532e+05,-147.379630,-146.059869
quality_of_faculty,14211.410827,0.0,7972.124834,6485.141842,5354.013711,14009.570053,14657.925958,11470.316715,14534.750678,11516.500709,-489.495313,-81.837570,-77.919196,190.524298,-6.642808e+04,-171.411481,-23.279798
publications,90735.795091,0.0,23060.359550,38335.507944,14009.570053,101397.805312,86810.999085,69468.620596,96130.005855,63385.721833,-1661.839933,-273.650910,-265.911231,841.309370,-2.395657e+05,1420.347222,-189.284027
influence,81637.409124,0.0,22455.256074,33616.094821,14657.925958,86810.999085,93506.076968,67849.676080,91416.566262,63047.874195,-1624.689070,-367.125028,-331.182414,1231.864890,-2.222010e+05,1561.591296,-136.653461
citations,64409.036355,0.0,17137.760465,26103.150523,11470.316715,69468.620596,67849.676080,58748.717629,71931.120872,46087.685545,-1290.021742,-288.764407,-267.570019,971.097605,-1.758710e+05,1442.264444,-111.208125
broad_impact,89118.831771,0.0,22348.646745,36009.923447,14534.750678,96130.005855,91416.566262,71931.120872,100270.826710,63240.236876,-1666.002839,-360.699352,-333.320290,1186.918454,-2.333537e+05,1865.648148,-158.807744
patents,66867.167869,0.0,16564.282570,33250.367970,11516.500709,63385.721833,63047.874195,46087.685545,63240.236876,87528.803468,-1687.071206,-250.339858,-237.609532,492.219966,-2.506106e+05,-663.879259,-142.451721
score,-1675.949146,0.0,-768.322884,-1089.287401,-489.495313,-1661.839933,-1624.689070,-1290.021742,-1666.002839,-1687.071206,101.865791,8.248143,7.901302,-19.059009,1.739347e+04,97.307963,4.481498
female_25_plus,-219.601955,0.0,-136.907276,10.499506,-81.837570,-273.650910,-367.125028,-288.764407,-360.699352,-250.339858,8.248143,5.541367,4.931765,-17.288567,7.692496e+02,-3.153981,-0.361759
All_25_plus,-214.522296,0.0,-129.134351,-3.566196,-77.919196,-265.911231,-331.182414,-267.570019,-333.320290,-237.609532,7.901302,4.931765,4.502148,-14.728471,7.510707e+02,-3.916759,-0.244810
All_25_plus_no_edu,665.462219,0.0,344.506490,-46.473005,190.524298,841.309370,1231.864890,971.097605,1186.918454,492.219966,-19.059009,-17.288567,-14.728471,82.425074,-1.784940e+03,12.752500,0.769611
avg_2000_2015,-241958.294808,0.0,-110961.276248,-179453.166355,-66428.079272,-239565.678872,-222201.020489,-175871.016688,-233353.699040,-250610.563543,17393.468160,769.249576,751.070715,-1784.939934,4.394666e+06,9880.573908,1132.453790
country_id,1101.087593,0.0,112.722222,-147.379630,-171.411481,1420.347222,1561.591296,1442.264444,1865.648148,-663.879259,97.307963,-3.153981,-3.916759,12.752500,9.880574e+03,1815.111111,-2.703704
cluster,-195.589714,0.0,-45.777545,-146.059869,-23.279798,-189.284027,-136.653461,-111.208125,-158.807744,-142.451721,4.481498,-0.361759,-0.244810,0.769611,1.132454e+03,-2.703704,1.830303

In [141]:
###Causal Inference

import statsmodels.api as sm
import statsmodels.formula.api as smf
#from causalinference import CausalModel  Raises error zero control units.  Control units might need to be 0 or 1 exclusively

In [142]:
###Average Treatment Effects
a_final_frame = a_final_frame.round()
a_final_frame.head(100)
a_final_frame.columns[a_final_frame.isna().any()].tolist()

['female_25_plus','All_25_plus','All_25_plus_no_edu','avg_2000_2015']
a_final_frame[['female_25_plus','All_25_plus','All_25_plus_no_edu','avg_2000_2015']] = a_final_frame[['female_25_plus','All_25_plus','All_25_plus_no_edu','avg_2000_2015']].fillna(value=a_final_frame[['female_25_plus','All_25_plus','All_25_plus_no_edu','avg_2000_2015']].mean())

a_final_frame.head(100)

,country,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,female_25_plus,All_25_plus,All_25_plus_no_edu,avg_2000_2015,country_id,cluster
0,Argentina,372.0,1.0,159.0,488.0,178.0,272.0,349.0,342.0,346.0,804.0,46.0,9.000000,9.000000,1.000000,346.0,3.0,0.0
1,Australia,92.0,1.0,108.0,140.0,132.0,56.0,103.0,74.0,89.0,67.0,48.0,12.000000,12.000000,1.000000,940.0,5.0,3.0
2,Austria,214.0,1.0,196.0,172.0,100.0,228.0,150.0,156.0,196.0,704.0,47.0,9.000000,10.000000,2.000000,345.0,6.0,0.0
3,Belgium,88.0,1.0,361.0,214.0,214.0,44.0,102.0,64.0,52.0,69.0,52.0,10.000000,11.000000,5.000000,418.0,10.0,0.0
4,Brazil,132.0,1.0,300.0,70.0,214.0,60.0,184.0,125.0,163.0,724.0,50.0,7.000000,7.000000,14.000000,1483.0,15.0,3.0
5,Bulgaria,836.0,1.0,244.0,522.0,214.0,806.0,878.0,526.0,808.0,804.0,44.0,11.000000,11.000000,2.000000,40.0,17.0,0.0
6,Canada,32.0,1.0,83.0,70.0,34.0,3.0,16.0,13.0,8.0,124.0,58.0,12.000000,12.000000,1.000000,1344.0,21.0,3.0
7,Chile,413.0,1.0,336.0,201.0,214.0,448.0,310.0,569.0,392.0,411.0,45.0,9.000000,10.000000,3.000000,170.0,23.0,0.0
8,China,56.0,1.0,268.0,36.0,214.0,58.0,143.0,216.0,140.0,14.0,55.0,6.000000,7.000000,8.000000,4950.0,24.0,4.0
9,Colombia,620.0,1.0,361.0,170.0,214.0,900.0,556.0,417.0,863.0,693.0,45.0,8.000000,8.000000,9.000000,222.0,25.0,0.0
10,Croatia,558.0,1.0,361.0,522.0,214.0,562.0,534.0,417.0,466.0,538.0,45.0,11.000000,11.000000,3.000000,49.0,30.0,0.0
11,Cyprus,940.0,1.0,361.0,522.0,214.0,811.0,892.0,627.0,904.0,776.0,44.0,9.000000,10.000000,8.000000,20.0,32.0,0.0
12,Czech Republic,292.0,1.0,288.0,519.0,163.0,236.0,234.0,201.0,242.0,636.0,46.0,13.000000,13.000000,0.000000,164.0,33.0,0.0
13,Denmark,78.0,1.0,108.0,124.0,62.0,52.0,46.0,68.0,32.0,279.0,49.0,11.000000,11.000000,2.000000,282.0,34.0,0.0
14,Egypt,799.0,1.0,298.0,471.0,178.0,699.0,730.0,560.0,812.0,804.0,44.0,5.000000,6.000000,41.000000,174.0,37.0,0.0
15,Estonia,546.0,1.0,359.0,522.0,214.0,593.0,353.0,387.0,476.0,342.0,45.0,12.000000,12.000000,0.000000,17.0,39.0,0.0
16,Finland,102.0,1.0,68.0,308.0,87.0,74.0,78.0,78.0,70.0,276.0,47.0,11.000000,11.000000,0.000000,221.0,41.0,0.0
17,France,39.0,1.0,45.0,172.0,82.0,209.0,167.0,232.0,303.0,278.0,55.0,10.000000,10.000000,2.000000,2329.0,42.0,2.0
18,Germany,77.0,1.0,58.0,190.0,72.0,72.0,56.0,70.0,47.0,156.0,49.0,12.000000,12.000000,3.000000,3081.0,45.0,2.0
19,Greece,316.0,1.0,361.0,223.0,214.0,246.0,424.0,369.0,290.0,804.0,46.0,10.000000,10.000000,3.000000,242.0,47.0,0.0
20,Hong Kong,162.0,1.0,280.0,122.0,214.0,118.0,200.0,152.0,132.0,343.0,49.0,9.781818,10.072727,6.345455,950.0,NaN,NaN
21,Hungary,414.0,1.0,88.0,522.0,110.0,549.0,424.0,268.0,462.0,680.0,45.0,12.000000,12.000000,0.000000,114.0,53.0,0.0
22,Iceland,488.0,1.0,361.0,522.0,214.0,620.0,303.0,316.0,389.0,788.0,45.0,10.000000,10.000000,1.000000,15.0,54.0,0.0
23,India,334.0,1.0,361.0,58.0,214.0,640.0,936.0,806.0,768.0,526.0,46.0,3.000000,5.000000,45.000000,1227.0,55.0,3.0
24,Iran,723.0,1.0,144.0,522.0,214.0,541.0,962.0,656.0,750.0,804.0,44.0,7.000000,8.000000,20.000000,333.0,57.0,0.0
25,Ireland,192.0,1.0,328.0,73.0,196.0,295.0,241.0,132.0,202.0,190.0,48.0,12.000000,12.000000,1.000000,212.0,59.0,0.0
26,Israel,21.0,1.0,12.0,155.0,17.0,109.0,88.0,266.0,147.0,32.0,64.0,12.000000,12.000000,3.000000,201.0,60.0,0.0
27,Italy,86.0,1.0,84.0,146.0,34.0,77.0,132.0,166.0,138.0,222.0,49.0,9.000000,9.000000,7.000000,1888.0,61.0,2.0
28,Japan,14.0,1.0,20.0,7.0,34.0,12.0,19.0,28.0,28.0,7.0,76.0,11.000000,11.000000,0.000000,5010.0,63.0,4.0
29,Lebanon,622.0,1.0,108.0,226.0,214.0,904.0,871.0,806.0,864.0,804.0,45.0,9.781818,10.072727,6.345455,950.0,NaN,NaN
30,Lithuania,814.0,1.0,333.0,522.0,214.0,794.0,685.0,627.0,742.0,710.0,44.0,11.000000,11.000000,0.000000,33.0,74.0,0.0
31,Malaysia,398.0,1.0,361.0,522.0,214.0,684.0,882.0,518.0,814.0,68.0,46.0,9.000000,9.000000,10.000000,205.0,78.0,0.0
32,Mexico,336.0,1.0,290.0,512.0,214.0,190.0,212.0,387.0,328.0,484.0,46.0,8.000000,8.000000,10.000000,992.0,84.0,3.0
33,Netherlands,86.0,1.0,164.0,107.0,117.0,62.0,77.0,64.0,46.0,192.0,49.0,11.000000,11.000000,2.000000,735.0,92.0,3.0
34,New Zealand,270.0,1.0,232.0,437.0,214.0,260.0,248.0,258.0,254.0,132.0,47.0,12.000000,11.000000,0.000000,128.0,93.0,0.0
35,Norway,96.0,1.0,98.0,188.0,41.0,104.0,116.0,108.0,101.0,219.0,48.0,12.000000,12.000000,4.000000,361.0,96.0,0.0
36,Poland,435.0,1.0,243.0,522.0,182.0,402.0,476.0,504.0,388.0,496.0,45.0,11.000000,11.000000,1.000000,384.0,103.0,0.0
37,Portugal,268.0,1.0,332.0,472.0,150.0,166.0,308.0,208.0,254.0,460.0,47.0,7.000000,7.000000,13.000000,202.0,104.0,0.0
38,Puerto Rico,970.0,1.0,361.0,522.0,214.0,998.0,786.0,627.0,938.0,804.0,44.0,9.781818,10.072727,6.345455,950.0,NaN,NaN
39,Romania,972.0,1.0,279.0,522.0,214.0,841.0,790.0,627.0,956.0,804.0,44.0,10.000000,11.000000,2.000000,133.0,106.0,0.0
40,Russian Federation,66.0,1.0,14.0,162.0,50.0,211.0,201.0,233.0,352.0,566.0,52.0,11.000000,12.000000,1.000000,1210.0,107.0,3.0
41,Saudi Arabia,494.0,1.0,361.0,158.0,214.0,586.0,538.0,722.0,867.0,174.0,45.0,7.000000,8.000000,20.000000,450.0,109.0,0.0
42,Serbia,768.0,1.0,278.0,522.0,214.0,435.0,698.0,502.0,758.0,780.0,44.0,10.000000,11.000000,3.000000,35.0,111.0,0.0
43,Singapore,75.0,1.0,274.0,99.0,176.0,38.0,121.0,81.0,96.0,25.0,51.0,9.000000,10.000000,13.000000,193.0,113.0,0.0
44,Slovakia,708.0,1.0,361.0,522.0,214.0,708.0,624.0,569.0,609.0,804.0,44.0,13.000000,13.000000,1.000000,74.0,114.0,0.0
45,Slovenia,514.0,1.0,361.0,522.0,214.0,344.0,432.0,316.0,458.0,622.0,45.0,12.000000,12.000000,1.000000,40.0,115.0,0.0
46,South Africa,132.0,1.0,70.0,30.0,170.0,449.0,239.0,316.0,460.0,275.0,50.0,9.000000,9.000000,11.000000,305.0,116.0,0.0
47,South Korea,41.0,1.0,231.0,16.0,158.0,42.0,132.0,94.0,110.0,5.0,57.0,11.000000,12.000000,5.000000,1025.0,117.0,3.0
48,Spain,118.0,1.0,361.0,216.0,214.0,62.0,108.0,87.0,86.0,237.0,50.0,10.000000,10.000000,3.000000,1190.0,118.0,3.0
49,Sweden,68.0,1.0,107.0,312.0,40.0,64.0,50.0,62.0,35.0,420.0,50.0,12.000000,12.000000,2.000000,441.0,121.0,0.0
50,Switzerland,18.0,1.0,19.0,74.0,13.0,42.0,40.0,46.0,82.0,59.0,68.0,12.000000,12.000000,6.000000,519.0,122.0,0.0
51,Taiwan,61.0,1.0,102.0,24.0,214.0,46.0,220.0,232.0,210.0,666.0,54.0,9.781818,10.072727,6.345455,950.0,NaN,NaN
52,Thailand,297.0,1.0,361.0,54.0,214.0,582.0,743.0,458.0,572.0,804.0,46.0,7.000000,7.000000,5.000000,268.0,126.0,0.0
53,Turkey,433.0,1.0,361.0,100.0,214.0,540.0,892.0,502.0,692.0,804.0,45.0,5.000000,6.000000,13.000000,616.0,131.0,3.0
54,Uganda,880.0,1.0,361.0,522.0,214.0,898.0,682.0,627.0,820.0,804.0,44.0,4.000000,5.000000,24.000000,17.0,132.0,0.0
55,United Arab Emirates,937.0,1.0,361.0,500.0,214.0,988.0,836.0,806.0,902.0,558.0,44.0,10.000000,9.000000,11.000000,249.0,134.0,0.0
56,United Kingdom,15.0,1.0,18.0,31.0,13.0,22.0,16.0,24.0,13.0,52.0,84.0,11.000000,12.000000,1.000000,2502.0,135.0,2.0
57,United States of America,1.0,1.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,4.0,100.0,13.000000,13.000000,0.000000,14074.0,136.0,1.0
58,Uruguay,933.0,1.0,355.0,478.0,210.0,940.0,744.0,800.0,889.0,737.0,44.0,8.000000,8.000000,2.000000,32.0,137.0,0.0

In [143]:
###This cell generates an error when using the Causal Model.  Values might need to be 0 or 1 exclusively.
# ATE_array = np.array([a_final_frame.quality_of_education,a_final_frame.alumni_employment])
# ATE_array = ATE_array.T.reshape(59,2)

# m=CausalModel(Y=a_final_frame.avg_2000_2015.values, D=a_final_frame.patents.values, X=ATE_array)
# print(a_final_frame[a_final_frame.score==0].shape)
# a_final_frame.score.values
###

In [144]:
from linearmodels import IV2SLS

m = IV2SLS(dependent = a_final_frame['quality_of_education'],
           exog=a_final_frame['broad_impact'],
           endog=a_final_frame['score'],
           instruments=a_final_frame['avg_2000_2015'])

iv2sls2_8=m.fit(cov_type='robust')
print(iv2sls2_8)

                           IV-2SLS Estimation Summary
================================================================================
Dep. Variable:     quality_of_education   R-squared:                      0.7766
Estimator:                      IV-2SLS   Adj. R-squared:                 0.7688
No. Observations:                    59   F-statistic:                    289.70
Date:                  Fri, Jan 28 2022   P-value (F-stat)                0.0000
Time:                          13:17:07   Distribution:                  chi2(2)
Cov. Estimator:                  robust

                              Parameter Estimates
================================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------
broad_impact     0.3813     0.0430     8.8784     0.0000      0.2972      0.4655
score            0.8563     0.5206     1.6447     0.1000     -0.1641      1.8766
================================================================================

Endogenous: score
Instruments: avg_2000_2015
Robust Covariance (Heteroskedastic)
Debiased: False

In [145]:
#Naive Bayes
##How would I use this with the data?

#Nearest Neighbors
##NO

##Gaussian

#Neural Net
#Least Squares
#Subset Lasso
#Gradient Boost Tree

In [146]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB

country_list = a_final_frame['country'].to_list()
le = LabelEncoder()
country_transformed = le.fit_transform(country_list)

country_transformed

label = a_final_frame['score'].to_list()
#label_array = a_final_frame['score'].as_matrix().reshape(1,len(a_final_frame['score']))
label_droped = a_final_frame.drop(['score','country','cluster','national_rank'], axis=1)

avg_list = a_final_frame['quality_of_education'].to_list()
world_list = a_final_frame['world_rank'].to_list()

#features = zip[avg_list,world_list]
features = list(map(list, zip(avg_list, world_list)))


X_train, X_test, y_train, y_test = train_test_split(features, label)

Gaus = GaussianNB()
Gaus.fit(X_train,y_train)

y_pred = Gaus.predict(X_test)

y_pred

array([49., 45., 46., 55., 45., 45., 46., 52., 44., 44., 45., 44., 49.,
       44., 52.])

In [157]:
#Multiple linear regression between GDP, word_rank, broad_impact
from sklearn.linear_model import LinearRegression

modified_df_final.head()
a_final_frame.head()

X = a_final_frame[['broad_impact', 'world_rank']].to_numpy()
y= a_final_frame['avg_2000_2015'].to_numpy()

model = LinearRegression().fit(X, y)

frame_score = model.score(X,y)
y_pred = model.predict(X)
print(y_pred)

[ 937.98840675 1593.97698125 1310.44105065 1618.66278543 1483.13147462
 -165.67295344 1746.46018696  838.08789142 1639.70052459  224.00326041
  525.53115611 -409.57529638 1139.46134045 1647.0634148   -96.4317658
  543.98884988 1583.4969224  1597.45973833 1642.091947   1071.29982997
 1439.74425105  804.00170554  695.38694779  817.07889793   78.05785468
 1349.94734486 1703.72108816 1582.98774858 1771.84921857  219.70163996
  -93.08252905  672.99401823 1015.41757484 1625.26191492 1176.21062382
 1580.77872227  797.6625936  1180.05274246 -482.83013748 -494.94328867
 1523.07554807  464.2187276   -12.06582922 1623.41847705  171.66349943
  613.73378069 1346.65943763 1682.30146865 1545.40794434 1664.89550259
 1739.35188365 1597.93010142  978.22044719  661.81616259 -255.71358525
 -402.8931148  1776.82068637 1809.22953856 -389.23535401]

In [165]:
##Polynomial Linear Regression
from sklearn.preprocessing import PolynomialFeatures
a_final_frame.head()

Xpoly = a_final_frame['female_25_plus'].to_numpy()
Xpoly = Xpoly.reshape((-1,1))

ypoly = a_final_frame['avg_2000_2015'].to_numpy()

X_ = PolynomialFeatures(degree=2,include_bias=False).fit_transform(Xpoly)
poly_model = LinearRegression().fit(X_,y)

y_pred = model.predict(X_)
print(y_pred)

[1651.86877843 1529.46353579 1651.86877843 1614.90914952 1714.26168031
 1574.10740198 1529.46353579 1651.86877843 1739.69495329 1684.98628869
 1574.10740198 1651.86877843 1480.97755096 1574.10740198 1761.28610763
 1529.46353579 1574.10740198 1614.90914952 1529.46353579 1614.90914952
 1623.30076    1529.46353579 1614.90914952 1792.94206038 1714.26168031
 1529.46353579 1529.46353579 1651.86877843 1574.10740198 1623.30076
 1574.10740198 1651.86877843 1684.98628869 1574.10740198 1529.46353579
 1529.46353579 1574.10740198 1714.26168031 1623.30076    1614.90914952
 1574.10740198 1714.26168031 1614.90914952 1651.86877843 1480.97755096
 1529.46353579 1651.86877843 1574.10740198 1614.90914952 1529.46353579
 1529.46353579 1623.30076    1714.26168031 1761.28610763 1779.03514332
 1614.90914952 1574.10740198 1480.97755096 1684.98628869]

In [166]:
##Sub Set Lasso

higherED_df.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,United States of America,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,United States of America,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,United States of America,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,United States of America,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [187]:
###LASSO REGRESSION
from sklearn.linear_model import Lasso
higherED_df = higherED_df.fillna(0)

dummy = pd.get_dummies(higherED_df[['institution','country']])

y = higherED_df['score']

X_dropped = higherED_df.drop(['score','institution','country'], axis=1).astype('float64')
dropped_list = X_dropped.columns

dropped_list

dummy.head()
X = pd.concat([X_dropped, dummy[['country_United Kingdom','country_United States of America']]],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=10)

scaler = StandardScaler().fit(X_train[dropped_list]) 

X_train[dropped_list] = scaler.transform(X_train[dropped_list])

X_test[dropped_list] = scaler.transform(X_test[dropped_list])

reg = Lasso(alpha=1)
reg.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

Lasso(alpha=1)