In [5]:
from Input_Data import Tanners_Clean_Code as TCC

import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from causalinference import CausalModel

import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from scipy import stats
import linearmodels




#def Clean(data):
    
    #new_df = pd.read_csv(data)       

    #return new_df 
#cwurData = "Input_Data/cwurData.csv" ##200 Nans in broad_impact column, 2200 rows/14 columns

#clean_df = Clean(cwurData)

#grouped_df = clean_df.groupby(['country','year']).mean().sort_values(by='country', ascending=False)

cea = TCC.complete_expenditures_all #= df1.merge(df_all_edu_1, on='country', how='left').dropna(subset=['school_spend_2000_2011'])
#complete_expenditures_k_12 #= df1.merge(df_k_12_edu_1, on='country', how='left').dropna(subset=['school_spend_2000_2011'])
#complete_expenditures_higher_edu #= df1.merge(df_higher_edu_1, on='country', how='left').dropna(subset=['school_spend_2000_2011'])

#final data-set with total GDP (not expenditures) to run test on as it will have more datapoints vs above compplete tables
#complete_GDP #= df1.merge(df_GDP2, on='country', how='left').dropna(subset=['avg_2000_2015'])
cea

,country,series_name,Keep or not,1985,1986,1987,1990,1991,1992,1993,...,2013,2015,avg_2005_2015,Country Code,Indicator Name,Indicator Code,avg_2000_2011,institute_type,school_spend_2000_2011,school_expenditures
62,Australia,"Barro-Lee: Average years of total schooling, a...",1.0,11.05,NaN,NaN,11.06,NaN,NaN,NaN,...,NaN,NaN,11.48500,AUS,GDP (current US$),NY.GDP.MKTP.CD,7.580678e+11,All Institutions,0.058,4.396793e+10
63,Australia,"Barro-Lee: Average years of total schooling, a...",1.0,11.20,NaN,NaN,11.18,NaN,NaN,NaN,...,NaN,NaN,11.46000,AUS,GDP (current US$),NY.GDP.MKTP.CD,7.580678e+11,All Institutions,0.058,4.396793e+10
64,Australia,"Barro-Lee: Average years of total schooling, a...",1.0,10.84,NaN,NaN,11.04,NaN,NaN,NaN,...,NaN,NaN,11.64500,AUS,GDP (current US$),NY.GDP.MKTP.CD,7.580678e+11,All Institutions,0.058,4.396793e+10
65,Australia,"Barro-Lee: Average years of total schooling, a...",1.0,11.02,NaN,NaN,11.20,NaN,NaN,NaN,...,NaN,NaN,11.65500,AUS,GDP (current US$),NY.GDP.MKTP.CD,7.580678e+11,All Institutions,0.058,4.396793e+10
66,Australia,Barro-Lee: Percentage of population age 15+ wi...,1.0,1.12,NaN,NaN,1.09,NaN,NaN,NaN,...,NaN,NaN,0.81500,AUS,GDP (current US$),NY.GDP.MKTP.CD,7.580678e+11,All Institutions,0.058,4.396793e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1692,United States,UIS: Percentage of population age 25+ with a d...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.20736,NaN,2.20736,USA,GDP (current US$),NY.GDP.MKTP.CD,1.303684e+13,All Institutions,0.069,8.995420e+11
1693,United States,UIS: Percentage of population age 25+ with a d...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.67716,NaN,1.67716,USA,GDP (current US$),NY.GDP.MKTP.CD,1.303684e+13,All Institutions,0.069,8.995420e+11
1694,United States,UIS: Percentage of population age 25+ with at ...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.39076,NaN,31.39076,USA,GDP (current US$),NY.GDP.MKTP.CD,1.303684e+13,All Institutions,0.069,8.995420e+11
1695,United States,UIS: Percentage of population age 25+ with at ...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.95309,NaN,31.95309,USA,GDP (current US$),NY.GDP.MKTP.CD,1.303684e+13,All Institutions,0.069,8.995420e+11
1696,United States,UIS: Percentage of population age 25+ with at ...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.66066,NaN,31.66066,USA,GDP (current US$),NY.GDP.MKTP.CD,1.303684e+13,All Institutions,0.069,8.995420e+11