In [5]:
import pandas as pd



def Clean(data):
    if data == eesd:
        new_df = pd.read_csv(data)
    else:
        new_df = pd.read_csv(data)
        
    shape_df= new_df.shape
    head_df = new_df.head(5)
    Nans=new_df.isna().sum().sum() 
    what_nans=new_df.isna().any()

    return Nans,what_nans,shape_df
cwurData = "Input_Data/cwurData.csv" ##200 Nans in broad_impact column, 2200 rows/14 columns

eesd = "Input_Data/education_expenditure_supplementary_data.csv"##This file is broken but works.  ##1213 Nans, all years have nan values
##333 rows/9 columns

easd = "Input_Data/educational_attainment_supplementary_data.csv"##1816203 Nans, All columns have Nans,79005 rows/29 columns
sact = "Input_Data/school_and_country_table.csv"##0 Nans,  818 rows/2 columns
sd = "Input_Data/shanghaiData.csv"##3829 Nans, world_rank and year only columns w/out nan, 4897 rows, 11 columns
td = "Input_Data/timesData.csv"##418 Nans, 4 columns have Nans, 2603 rows, 14 columns

Clean(td)

(418,
 world_rank                False
 university_name           False
 country                   False
 teaching                  False
 international             False
 research                  False
 citations                 False
 income                    False
 total_score               False
 num_students               True
 student_staff_ratio        True
 international_students     True
 female_male_ratio          True
 year                      False
 dtype: bool,
 (2603, 14))